#!/bin/bash
#If you are running in a torque cluster environment, these variables tell the fmriprep pipeline to load specific modules
#before executing the pipeline. This sets up relevant fmriprep software dependencies in the execution environment.
#On the other hand, if all of these programs are already in the system path (e.g., installed locally), the modules are
#irrelevant and can be commented out for your environment.

export G=/gpfs/group/mnh5174/default #filesystem root for shared storage (and programs)

torque_modules_root=$G/sw/modules #where user-owned module files live on the cluster
afni_module=afni/19.0.26
fsl_module=fsl/6.0.1
ants_module=ants/2.2.0
freesurfer_module=freesurfer/stable-pub-v6.0.0
fmriprep_virtualenv="$G/lab_resources/fmriprep_python" #virtual environment containing fmriprep

#ensure that locations of dcm2niix and heudiconv are in the PATH and preferred over alternatives
dcm2niix_location="$G/lab_resources/bin/dcm2niix"
heudiconv_location="$G/lab_resources/lab_python/bin/heudiconv"
mriqc_location="$G/lab_resources/lab_python3/bin/mriqc" #is the binary sufficient to run, or do we need to load the virtualenv?

#general qsub arrangements
qsub_email=dpp5430@psu.edu
qsub_allocation=mnh5174_c_g_sc_default

#parameters for fmriprep qsub
fmriprep_walltime=24:00:00 #1-day

#parameters for heudiconv
heudiconv_walltime=2:00:00



#Setup for dcm2niix and heudiconv -- do not modify
#If you don't need to add these programs to your path, just set the dcm2niix_location and heudiconv_location variables to empty
if [ -n "$dcm2niix_location" ]; then
   [ ! -r "$dcm2niix_location" ] && echo "Cannot access dcm2niix at $dcm2niix_location" && exit 1

   curloc=$(which dcm2niix)

   if [ "$curloc" != "$dcm2niix_location" ]; then
      export PATH="$(dirname $dcm2niix_location):$PATH" #add to front of path
   fi   
fi


if [ -n "$heudiconv_location" ]; then
   [ ! -r "$heudiconv_location" ] && echo "Cannot access dcm2niix at $heudiconv_location" && exit 1

   curloc=$(which dcm2niix)

   if [ "$curloc" != "$heudiconv_location" ]; then
      export PATH="$(dirname $heudiconv_location):$PATH" #add to front of path
   fi
fi
